####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# NODE / NPM
####################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

####################################
# BUILD OUTPUT
####################################
dist/
build/
.out/
coverage/

####################################
# NESTJS
####################################
*.tsbuildinfo

####################################
# PRISMA
####################################
node_modules/.prisma/
prisma/migrations/
prisma/dev.db
prisma/dev.db-journal

####################################

####################################


####################################
# CACHE / TEMP
####################################
.cache/
.tmp/
temp/
.tmp/
.eslintcache

####################################
# LOGS
####################################
logs/
*.log

####################################
# IDE / EDITOR
####################################
.vscode/
.idea/
*.swp
*.swo

####################################
# TEST / ARTIFACTS
####################################
junit.xml
report.xml

####################################
# DOCKER
####################################
docker-compose.override.yml

####################################
# MONOREPO SPECIFIC
####################################
apps/**/node_modules/
apps/**/dist/